header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: #3d405b;
}

.hamburger {
    background: none;
    border: none;
    color: #3d405b;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.exibir::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.menu-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-links a {
    display: block;
    padding: 0.75rem 10px;
    color: #3d405b;
    text-decoration: none;
}

.menu-links a:hover {
    background-color: #eee;
}

#animateme {
    display: none;
}

#animateme.exibir {
    display: block;
}

.menu-links .current a {
    background-color: #ddd;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.social img {
    width: 22px;
    height: 22px;
}

.completed {
    background-color: #d8f3dc;
    border-left: 5px solid #2d6a4f;
    font-weight: bold;
}